
#setStatScreen {
	position: fixed;
    inset: 0;
	z-index: 999;

	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	overflow-y: auto;
	color: #fafafa;
	padding: 50px 100px;
	box-sizing: border-box;

}

.setstat-solve-card  .stat-item .label {
	font-size: .68rem;
	color: #71717a;
	text-transform: uppercase;
	letter-spacing: .04em;
}

.setstat-solve-card .stat-item .value {
	display:flex;
	font-size: .75rem;
	letter-spacing: .04em;
	font-weight: 600;
	color: #fafafa;
	align-items: center;

}

.material-symbols-outlined.small-icon {
	font-size: 16px;
	font-variation-settings:
	'FILL' 1,
	'wght' 300,
	'GRAD' 0,
	'opsz' 10
  }


.hide {
	display:none;
}

.setStatistics {
	max-width: 1200px;
	padding: 25px 20px;
	height: 90vh;
	overflow-y: auto;
	margin: 30px;
	display: flex;
	flex-direction: column;

	gap: 20px;
	border: 0.5px solid #363636;
	border-radius: 30px;
	background: #212121;
	box-shadow: 25px 25px 25px rgb(20, 20, 20),
				0px -0px 10px rgb(40, 40, 40);
	
}

.twocol-setstat {
	display:grid;
	grid-template-columns: minmax(400px, 1fr) minmax(400px, 1fr);
	gap: 30px;
}


.setstat-card {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: #212121;
    border-radius: 16px;
    padding: 15px 28px 15px;

	background: linear-gradient(145deg, #232323, #1e1e1e);
	box-shadow:  6px 6px 18px #161616,
				-6px -6px 18px #2c2c2c;
}

.setstat-solve-title {
	padding: 0 0 10px 0;
}

.setstat-solve-card {
	display:flex;
	flex-direction: column;
	gap:10px;
}

.setstat-solve-card .card-stats {
	gap: 30px;
}
.card-stats.best-solve{
	grid-template-columns: repeat(2, 1fr);
	padding: 0 5px 0 0;
}

.setstat-solve-card .stat-item .value.highlight {
	color: #60a5fa;
	font-weight: 700;
}

.puzzleTable {

	width: 100%;
	background: #212121;
    border-radius: 16px;
    padding: 15px 28px 15px;
	background: linear-gradient(145deg, #232323, #1e1e1e);
	box-shadow:  6px 6px 18px #161616,
				-6px -6px 18px #2c2c2c;
}

.table-title {
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 800;

}

.table-head-row{
	display: grid;
	grid-template-columns: 80px 80px minmax(120px, 520px);
	gap:5px;
	align-items: center;
	height: 50px;

	color: #ffffff;
	font-size: 0.8rem;
	font-weight: 800;
	padding: 0px 10px;
}

.table-body {
	min-height: 300px;
	max-height: 400px;
	overflow-y: auto;
}

.table-row{
	display: grid;
	grid-template-columns: 80px 80px minmax(120px, 520px);
	gap: 5px;
	justify-content: center;
	align-items: center;
	min-height: 50px;
	font-size: 0.70rem;
	background: #212121;
	border-radius: 5px;
	padding: 0px 10px;
}
.setstat-theme-card .themeItem {
	padding: 2px 10px;
	font-size: 0.7rem;
	border-radius: 5px;
}
.table-row:hover {
	background: #212121;
	box-shadow: inset 5px 5px 20px #151515,
				inset -5px -5px 20px #2d2d2d;
	cursor: pointer;
}



.card-stats-table {
	display:flex;
	flex-direction: column;
	gap:20px
}

.setstat-theme-card {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: column; */
	/* justify-content: center; */
	align-items: center;
	gap: 10px;
	padding: 10px 0px;
}
.themeItem {
	align-items: center;
	align-content: center;

	font-size: .70rem;
	font-weight: 600;
	color: #fafafa;
	background: #60a5fa;

    border-radius: 16px;
    padding: 5px 20px 5px;
	 box-shadow:  1px 1px 3px #151515,
				  -1px -1px 3px #2d2d2d;
}

.stats-chart-container {
	height: 250px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	padding: 30px 20px;
	background: #212121;
    border-radius: 16px;
    padding: 15px 28px 40px;

	background: linear-gradient(145deg, #232323, #1e1e1e);
	box-shadow:  6px 6px 18px #161616,
				-6px -6px 18px #2c2c2c;
}

.stats-section {
	display: flex;
	flex-direction: column;
	gap:10px;
}

@media (max-width: 900px) {
	.twocol-setstat{
		display: flex;
		flex-direction: column;
	}
	.table-head-row{
		grid-template-columns: 40px 50px minmax(120px, 520px);
	}	
	.table-row{
		grid-template-columns: 40px 50px minmax(120px, 520px);
	}
	.setStatistics {
		height: 90vh;
		overflow-y: auto;
	}
}